<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title th:utext="#{cas.mfa.esupotp.pagetitle}">CAS MFA ESUP-OTP</title>
  <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
  <main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
      <link th:href="${apiUrl} + '/public/login.css'" rel="stylesheet" />
      <style>
         #main-content { margin-left: auto; margin-right: auto; max-width: 800px; }
      </style>
      <div id="data" class="d-flex justify-content-center flex-md-row flex-column mdc-card mdc-card-content w-lg-25">
        <section id="content" class="login-section login-form">
          <div class="d-flex flex-column justify-content-between m-auto">

            <h1 class="text-center">
                <i class="mdi mdi-security"></i>
                <span th:utext="#{cas.mfa.esupotp.pagetitle}" />
            </h1>

            <div id="loginForm" class="form-wrapper">
              <form method="post" id="fm1" th:object="${credential}">
                <div id="errors" class="banner banner-danger alert alert-danger banner-dismissible mb-2" th:if="${#fields.hasErrors('*')}" role="alert">
                  <h3 th:utext="#{cas.mfa.esupotp.webauthn.failed}">Authentication Failure</h3>
                  <span th:utext="#{cas.mfa.esupotp.webauthn.retry}">Please try again</span>
                </div>
                <input type="hidden" name="_eventId_submit" value="Login" />
                <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
              </form>

            </div>
          </div>
        </section>
        <script th:src="${apiUrl} + '/js/socket.io.js'"></script>
        <script th:src="${apiUrl} + '/public/login.js'"></script>
        <script th:inline="javascript">

          // (ugly) syntax explained here: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#javascript-natural-templates
          var apiUrl = /*[[${apiUrl}]]*/ "";
          var uid = /*[[${uid}]]*/ "";
          var userHash = /*[[${userHash}]]*/ "";
          var otpManagerUrl = /*[[${otpManagerUrl}]]*/ "";
          
          getUserOtpMethods_and_displayChoices({ apiUrl, uid, userHash, otpManagerUrl });
        </script>
      </div>
    </div>
  </main>
</body>
</html>
